@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    padding: 10%;
    font-size: 2rem;
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: blue;
}

a:visited {
    color: purple;
}

/* when we hover over the link it will change its color */
a:hover, a:focus {
    color: dodgerblue;
    /* background: gold; */
}

a:active {
    color: red;
}